<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" connectionString="mongodb://localhost/MongoSimpleMembership?safe=true"  />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="MongoSimpleMembershipProvider">
      <providers>
        <clear />
        <add name="MongoSimpleMembershipProvider" type="LyphTEC.MongoSimpleMembership.MongoSimpleMembershipProvider, LyphTEC.MongoSimpleMembership" connectionStringName="DefaultConnection" />
      </providers>
    </membership>
  </system.web>
  
</configuration>